<%= turbo_stream.append "role_timeline_entries" do %>
  <%= render partial: "shared/timeline_entry", collection: @timeline.entries, as: :entry %>
<% end %>
<%= turbo_stream.replace "role_timeline_loader" do %>
  <div id="role_timeline_loader">
    <%= render "shared/timeline_loader",
          timeline: @timeline,
          url: role_timeline_entries_path(@role) %>
  </div>
<% end %>
