<% content_for :title, "Edit #{@scheduled_job.name}" %>

<section class="pad max-width">
  <header class="flex justify-between align-center">
    <h1>Edit <%= @scheduled_job.name %></h1>
    <%= link_to "Back", scheduled_job_path(@scheduled_job), class: "btn btn-secondary" %>
  </header>

  <%= render "form", scheduled_job: @scheduled_job %>
</section>
