<% content_for :title, "Edit #{@profile.display_name}" %>

<section class="pad max-width center">
  <header class="flex justify-between align-center">
    <h1>Edit <%= @profile.display_name %></h1>
    <%= link_to "Back", agent_profile_path(@profile), class: "btn btn-secondary" %>
  </header>

  <%= render "form", profile: @profile %>
</section>
